<div class="btn-controles-mapa d-flex">
    <!-- Botão para habilitar criação de itinerário -->
    <div class="col-sm-1">
      <button type="button"
        class="btn btn-danger btn-rounded btn-icon"
        id="btnHabilitaCriacaoIntinerario"
        title="Habilitar Criação de Itinerário">
        <i class="fa fa-road" aria-hidden="true"></i> <!-- Ícone de estrada para representar o itinerário -->
      </button>
    </div>
  
    <!-- Botão para visualizar localização de veículos -->
    <div class="col-sm-1">
      <button type="button" 
        id="btnLocalizacaoVeiculos"
        class="btn btn-success btn-rounded btn-icon"
        data-bs-toggle="tooltip"
        data-bs-placement="left"
        title="Visualizar Veículos">
        <i class="fa fa-car" aria-hidden="true"></i> <!-- Ícone de carro para visualizar veículos -->
      </button>
    </div>
  
    <!-- Botão para visualizar pontos de atendimento -->
    <div class="col-sm-1">
      <button type="button" 
        id="btnVisualizaPontosDeAtendimento"
        class="btn btn-info btn-rounded btn-icon"
        data-bs-toggle="tooltip"
        data-bs-placement="left"
        title="Visualizar Pontos de Atendimento">
        <i class="fa fa-map-pin" aria-hidden="true"></i> <!-- Ícone de pin para representar pontos de atendimento -->
      </button>
    </div>
  
    <!-- Botão para resetar o mapa -->
    <div class="col-sm-1">
      <button type="button"
        id="btnResetMapa"
        class="btn btn-warning btn-rounded btn-icon"
        title="Resetar Mapa">
        <i class="fa fa-sync-alt" aria-hidden="true"></i> <!-- Ícone de sincronização para reset -->
      </button>
    </div>
  </div>
  