{% extends 'base.html' %}

{% load static %}

{% block 'conteudo' %}
<div class="row">
    <div class="col-sm-12 col-12">
      <ul class="nav nav-pills nav-pills-primary pill-preDtc" id="pills-tab" role="tablist">
        <li class="nav-item pl-0 " role="presentation">
          <button class="nav-link active p-1" id="pills-manifesto-tab" 
                  data-bs-toggle="pill" data-bs-target="#pills-manifesto" type="button" 
                  role="tab" aria-controls="pills-manifesto" aria-selected="true">
            <i class="ti-layers-alt" ></i>Dados Manifesto
          </button>
        </li>
        <li class="nav-item pl-0" role="presentation">
          <button class="nav-link  p-1" id="pills-dtc-tab"  data-bs-toggle="pill" 
                  data-bs-target="#pills-dtc" type="button" role="tab" 
                  aria-controls="pills-dtc" aria-selected="true">
            <i class="ti-truck"></i> Documentos
          </button>
        </li>
        <li class="nav-item pl-0 " role="presentation">
          <button class="nav-link  p-1" id="pills-mdfe-tab" data-bs-toggle="pill" 
                  data-bs-target="#pills-mdfe" type="button" role="tab" 
                  aria-controls="pills-mdfe" aria-selected="true">

            <i class="ti-clipboard"></i> MDF-E
          </button>
        </li>         
        <li class="nav-item pl-0" role="presentation">
          <button class="nav-link  p-1" id="pills-pagamentos-tab" data-bs-toggle="pill" 
          data-bs-target="#pills-pagamentos" type="button" role="tab" aria-controls="pills-pagamentos" 
          aria-selected="false">Pagamentos</button>
        </li>
        <li class="nav-item pl-0" role="presentation">
          <button class="nav-link  p-1" id="pills-rastreamento-tab" data-bs-toggle="pill" data-bs-target="#pills-rastreamento" 
          type="button" role="tab" aria-controls="pills-rastreamento" 
          aria-selected="false">Rastreamento</button>
        </li>          
        <li class="nav-item pl-0" role="presentation">
          <button class="nav-link  p-1" id="pills-outros-tab" data-bs-toggle="pill" 
          data-bs-target="#pills-outros" type="button" role="tab" 
          aria-controls="pills-outros" aria-selected="false">Outros</button>
        </li>          
        <li>
          <div class="mt-3 text-end w-100">
            <input type="text" class="form-control text-primary  p-1 small nav-link " id="numDtc" name="numDtc"
            placeholder="Nº" readOnly>
          </div>  
        </li>  
      </ul>
    </div>
  </div>
  <div class="tab-content bloco-conteudo" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-manifesto" role="tabpanel"
        aria-labelledby="pills-manifesto-tab">
      <div class="row">
        <div class="col-sm-4 pl-4">
          <div class="col col-sm-12 mb-3">
            <h4 class="card-title text-primary">Motoristas</h4>
            <div class="input-group">
              <input class="form-control form-control-sm col-sm-4" id="cpfMotorista" placeholder="Cpf Motorista : ">
              <input class="form-control form-control-sm col-sm-8" id="nomeMotorista" placeholder="Motorista : ">
              <a class="btn btn-outline-primary btn-sm" style="display: flex; justify-content: center; align-items: center;"><i class="fa fa-plus" aria-hidden="true" style="top: 50% !important;"></i></a>
            </div>
            
              <table class="display expandable-table dataTable no-footer" style="width: 100%;">
                <thead>
                  <tr>
                    <th class="select-checkbox" >CPF Motorista</th>
                    <th class="">Nome Motorista</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class=" border">
                    <td class="sorting_1">3078431541</td>
                    <td>Edson Tomas da Silva</td>
                  </tr>

                  <tr>
                    <td class="sorting_1">3078431541</td>
                    <td>Edson Tomas da Silva</td>
                  </tr>

                </tbody>
              </table>


            </div>
        </div>

        <div class="col-sm-4 mb-3">
          <h4 class="card-title text-primary ml-4">Veículo</h4>
          <div class="col col-sm-12 mb-3">
            <div class="input-group">
              <input class="form-control form-control-sm col-sm-4" id="placaPrincipal"placeholder="Veículo Placa : ">
              <input class="form-control form-control-sm col-sm-8" id="proprietarioPrincipal"placeholder="Proprietário" disabled>
            </div>
          </div>

          <div class="col col-sm-12 mb-3">
            <div class="input-group">
              <input class="form-control form-control-sm col-sm-4" id="carretaPrincipal" placeholder="Carreta Placa : ">
              <input class="form-control form-control-sm" id="proprietarioCarretaPrincipal"placeholder="Proprietário : " disabled>
            </div>
          </div>

          <div class="col col-sm-12 mb-3">
            <div class="input-group">
              <input class="form-control form-control-sm col-sm-4" id="carretaSecundaria" placeholder="Carreta Placa: ">
              <input class="form-control form-control-sm" id="proprietarioCarretaSecundaria"placeholder="Nome Proprietário" disabled>
            </div>
          </div>

        </div>

        <div class="col-sm-4 mb-3">
          <h4 class="card-title text-primary">Outros</h4>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-floating">
                <input type="text" class="form-control mb-3" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Frete</label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-floating">
                <input type="text" class="form-control mb-3" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Adiantamento</label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-floating">
                <input type="text" class="form-control mb-3" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Rota</label>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-floating">
                <input type="date" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Data Inicio</label>
              </div>
            </div>   
            
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="date" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Data Chagada</label>
              </div>
            </div>             
          </div>

        </div>

        <div class="col-sm-3 pl-5 mb-3">
          <div class="form-floating">
            <input type="text" class="form-control text-primary" id="numPed" name="numPed" placeholder="Nº Pré Dtc" align="right">
            <label for="numPed" class="text-primary">Lacres</label>
          </div>
        </div>


        <div class="col-sm-3 ">
          <div class="form-floating">
            <input type="text" class="form-control text-primary" id="numPed" name="numPed" placeholder="Nº Pré Dtc" align="right">
            <label for="numPed" class="text-primary">Averbação</label>
          </div>
        </div>

        <div class="col-sm-3 ">
          <div class="form-floating">
            <input type="text" class="form-control text-primary" id="numPed" name="numPed" placeholder="Nº Pré Dtc" align="right">
            <label for="numPed" class="text-primary">Liberação</label>
          </div>
        </div>   

        <div class="col-sm-3 ">
          <div class="form-floating">
            <input type="text" class="form-control text-primary" id="numPed" name="numPed" placeholder="Nº Pré Dtc" align="right">
            <label for="numPed" class="text-primary">Liberação</label>
          </div>
        </div>  


        <div class="col-sm-12 pl-5 mb-3 ">
          <div class="form-floating">
            <textarea class="form-control text-primary" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label class="text-primary" for="floatingTextarea">Observações</label>
          </div>
        </div>     
      </div>
  
    </div>

    <div class="tab-pane fade" id="pills-dtc" 
        role="tabpanel" aria-labelledby="pills-dtc-tab">
      <h1>DTC</h1>
    </div>

    <div class="tab-pane fade" id="pills-mdfe" 
        role="tabpanel" aria-labelledby="pills-mdfe-tab">
      <h1>MDF-E</h1>
    </div>

    <div class="tab-pane fade" id="pills-pagamentos" 
        role="tabpanel" aria-labelledby="pills-pagamentos-tab">
      <h1>Pagamentos</h1>
    </div>

    <div class="tab-pane fade" id="pills-rastreamento" 
        role="tabpanel" aria-labelledby="pills-rastreamento-tab">
      <h1>Rastreamento</h1>
    </div>

    <div class="tab-pane fade" id="pills-outros" 
        role="tabpanel" aria-labelledby="pills-outros-tab">
      <h1>Outros</h1>
    </div>
  </div>
{% endblock %}

{% block 'js'%} 

{% endblock %}