{% extends 'base.html' %}

{% load static %}

{% block 'conteudo' %}
<div class="row">
    <div class="col-sm-12 col-12">
      <ul class="nav nav-pills nav-pills-primary pill-preDtc" id="pills-tab" role="tablist">
        <li class="nav-item pl-0 " role="presentation">
          <button class="nav-link active p-1" id="pills-manifesto-tab" 
                  data-bs-toggle="pill" data-bs-target="#pills-manifesto" type="button" 
                  role="tab" aria-controls="pills-manifesto" aria-selected="true">
            <i class="ti-layers-alt" ></i>Dados Manifesto
          </button>
        </li>
        <li class="nav-item pl-0" role="presentation">
          <button class="nav-link  p-1" id="pills-dtc-tab"  data-bs-toggle="pill" 
                  data-bs-target="#pills-dtc" type="button" role="tab" 
                  aria-controls="pills-dtc" aria-selected="true">
            <i class="ti-truck"></i> Documentos
          </button>
        </li>
        <li class="nav-item pl-0 " role="presentation">
          <button class="nav-link  p-1" id="pills-mdfe-tab" data-bs-toggle="pill" 
                  data-bs-target="#pills-mdfe" type="button" role="tab" 
                  aria-controls="pills-mdfe" aria-selected="true">

            <i class="ti-clipboard"></i> MDF-E
          </button>
        </li>         
        <li class="nav-item pl-0" role="presentation">
          <button class="nav-link  p-1" id="pills-pagamentos-tab" data-bs-toggle="pill" 
          data-bs-target="#pills-pagamentos" type="button" role="tab" aria-controls="pills-pagamentos" 
          aria-selected="false">Pagamentos</button>
        </li>
        <li class="nav-item pl-0" role="presentation">
          <button class="nav-link  p-1" id="pills-rastreamento-tab" data-bs-toggle="pill" data-bs-target="#pills-rastreamento" 
          type="button" role="tab" aria-controls="pills-rastreamento" 
          aria-selected="false">Rastreamento</button>
        </li>          
        <li class="nav-item pl-0" role="presentation">
          <button class="nav-link  p-1" id="pills-outros-tab" data-bs-toggle="pill" 
          data-bs-target="#pills-outros" type="button" role="tab" 
          aria-controls="pills-outros" aria-selected="false">Outros</button>
        </li>          
        <li>
          <div class="mt-3 text-end w-100">
            <input type="text" class="form-control text-primary  p-1 small nav-link " id="numDtc" name="numDtc"
            placeholder="Nº" readOnly>
          </div>  
        </li>  
      </ul>
    </div>
  </div>
  <div class="tab-content conteudo-tabs" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-manifesto" role="tabpanel"
        aria-labelledby="pills-manifesto-tab">
        <div class="row ml-4">
          <div class="col col-sm-4">
            <label>Placa: </label>
            <div class="input-group">
              <input class="form-control form-control-sm col-sm-4" id="placaPrincipal"placeholder="Ex: AAA1A11">
              <input class="form-control form-control-sm" id="proprietarioPrincipal"placeholder="Nome Proprietário">
            </div>
          </div>
        </div>
        <div class="row ml-4">
          <div class="col col-sm-4">
            <label>Placa Carreta:</label>
            <div class="input-group">
              <input class="form-control form-control-sm col-sm-4" id="carretaPrincipal" placeholder="Ex: AAA1A11">
              <input class="form-control form-control-sm" id="proprietarioCarretaPrincipal" placeholder="Nome Proprietário">
            </div>
          </div>
        </div>
        <div class="row ml-4">
          <div class="col col-sm-4">
            <label>Placa Secundária:</label>
            <div class="input-group">
              <input class="form-control form-control-sm col-sm-4" id="carretaSecundaria" placeholder="Ex: AAA1A11">
              <input class="form-control form-control-sm" id="proprietarioCarretaSecundaria"placeholder="Nome Proprietário">
            </div>
          </div>
        </div>

        
    </div>

    <div class="tab-pane fade" id="pills-dtc" 
        role="tabpanel" aria-labelledby="pills-dtc-tab">
      <h1>DTC</h1>
    </div>

    <div class="tab-pane fade" id="pills-mdfe" 
        role="tabpanel" aria-labelledby="pills-mdfe-tab">
      <h1>MDF-E</h1>
    </div>

    <div class="tab-pane fade" id="pills-pagamentos" 
        role="tabpanel" aria-labelledby="pills-pagamentos-tab">
      <h1>Pagamentos</h1>
    </div>

    <div class="tab-pane fade" id="pills-rastreamento" 
        role="tabpanel" aria-labelledby="pills-rastreamento-tab">
      <h1>Rastreamento</h1>
    </div>

    <div class="tab-pane fade" id="pills-outros" 
        role="tabpanel" aria-labelledby="pills-outros-tab">
      <h1>Outros</h1>
    </div>
  </div>
{% endblock %}

{% block 'js'%} 

{% endblock %}