<form id="frmFaturamentoAutomatico">
    <div class="modal" id="mdlFaturamentoAutomatico" tabindex="-1" data-bs-backdrop="static"
        data-bs-keyboard="false">
        <div class="modal-dialog modal-lg modal-altura">
          <div class="modal-content">
            <div class="modal-header cabecalho-modal-parceiro">
              <div class="col-sm-4">
                <h5 class="modal-title">Faturamento Automático</h5>
              </div>
             <div>
                <div class="input-group mb-2" align="right">
                  <button type="button" class="btn btn-secondary btn-rounded btn-icon" id="btnLimpaBuscaVeiculo" align="right">            
                    <i class="ti-write"></i>
                  </button>
                  <button type="button" class="btn btn-warning btn-rounded btn-icon" id="btnGerarFaturaAutomatica" align="right">            
                    <i class="ti-corgs"></i>
                  </button>                  
                  <button type="button" class="btn btn-danger btn-rounded btn-icon" onclick="closeModal()" align="right">
                      <i class="ti-close"></i>
                  </button>
                </div>
              </div>  
          </div>
          <div class="modal-body row" >
            <div class="col-sm-12 row">
              <div class="mb-2 col-sm-2 form-floating">
                <select class="form-select" id="fatAutomaticoEmissor" placeholder="Filial responsável">
                </select>
                <label for="fatAutomaticoEmissor" class="form-label ml-3">Filial responsável</label>
              </div>
              <div class="mb-2 col-sm-2 form-floating">
                <input type="text" class="form-control" id="diasParaVencimento" placeholder="Dias para o vencimento">
                <label for="diasParaVencimento" class="form-label ml-3">Dias até o vencimento</label>
              </div>
              <div class="mb-2 col-sm-2 form-floating">
                <input type="date" class="form-control" id="dataVencimento" placeholder="Data de vencimento">
                <label for="dataVencimento" class="form-label ml-3">Data de vencimento</label>
              </div>

              <div class="mb-2 col-sm-3 form-floating">
                <input type="text" class="form-control" id="desconto" placeholder="Data de vencimento">
                <label for="dataVencimento" class="form-label ml-3">Desconto em %</label>
              </div>

              <div class="mb-2 col-sm-3 form-floating">
                <input type="text" class="form-control" id="acrescimo" placeholder="Data de vencimento">
                <label for="dataVencimento" class="form-label ml-3">Acréscimo em %</label>
              </div>

            </div>
            <h4>Filtrar por : </h4>
            <div class="row">
              <div class="mb-2 col-sm-2">
                <label for="tipoFrete" class="form-label">Tipo Frete</label>
                <select class="form-select form-control" id="tipoFrete" placeholder="Tipo de Frete">
                  <option value=0>Selecione</option>
                  <option value="1">Remetente</option>
                  <option value="2">Destinatário</option>
                  <option value="3">Outros</option>
                </select>
              </div>                
              <div class="mb-2 col-sm-2">
                <label for="dataInicio">Início</label>
                <input type="date" class="form-control" id="dataInicio" placeholder="Data de início">
              </div>            
              <div class="mb-2 col-sm-2 ml-1">
                <label for="dataFinal" class="form-label ml-3">Final</label>
                <input type="date" class="form-control" id="dataFinal" placeholder="Data final">
              </div>  
              <div  class="col-sm-5">
                <label for="cnpjParceiroFaturamento">Parceiro</label>
                <div class="input-group">
                  <input type="text" aria-label="First name" id="cnpjParceiroFaturamento" class="form-control" placeholder="Cnpj: ">
                  <input type="text" aria-label="Last name" id="razaoParceiroFaturamento" class="form-control" placeholder="Razão Social: " disabled>
                </div>
              </div>
            </div>  
            <div id="divNavegacaoFatura">
            </div>
            <div class="table-responsive">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Nº Duplicata</th>
                    <th>Razão Tomador</th>
                    <th>Qtde de Documentos</th>
                    <th>Total</th>
                    <th>Vencimento</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody  id="tbodyFaturas">
                </tbody>
              </table>
            </div>
          </div>
          </div>
        </div>
    </div>
  </form>
  