<form id="frmFaturamentoAutomatico">
    <div class="modal" id="mdlFaturamentoAutomatico" tabindex="-1" data-bs-backdrop="static"
        data-bs-keyboard="false">
        <div class="modal-dialog modal-lg modal-altura">
          <div class="modal-content">
            <div class="modal-header cabecalho-modal-parceiro">
              <div class="col-sm-4">
                <h5 class="modal-title">Faturamento Automático</h5>
              </div>
             <div>
                <div class="input-group mb-2" align="right">
                  <button type="button" class="btn btn-secondary btn-rounded btn-icon" id="btnLimpaBuscaVeiculo" align="right">            
                    <i class="ti-write"></i>
                  </button>
                  <button type="button" class="btn btn-warning btn-rounded btn-icon" id="btnLimpaBuscaVeiculo" align="right">            
                    <i class="ti-printer"></i>
                  </button>                  
                  <button type="button" class="btn btn-danger btn-rounded btn-icon" onclick="closeModal()" align="right">
                      <i class="ti-close"></i>
                  </button>
                </div>
              </div>  
          </div>
          <div class="modal-body row" >
            <div class="col-sm-12 row">
              <div class="mb-2 col-sm-3 form-floating">
                <select class="form-select" id="fatAutomaticoEmissor" placeholder="Filial responsável">
                </select>
                <label for="fatAutomaticoEmissor" class="form-label ml-3">Filial responsável</label>
              </div>
              <div class="mb-2 col-sm-3 form-floating">
                <input type="text" class="form-control" id="diasParaVencimento" placeholder="Dias para o vencimento">
                <label for="diasParaVencimento" class="form-label ml-3">Dias até o vencimento</label>
              </div>
              <div class="mb-2 col-sm-3 form-floating">
                <input type="date" class="form-control" id="dataVencimento" placeholder="Data de vencimento">

                <label for="dataVencimento" class="form-label ml-3">Data de vencimento</label>
              </div>

              <div class="mb-2 col-sm-3 form-floating">
                <select class="form-select" id="tipoFrete" placeholder="Tipo de Frete">
                  <option value="1">Selecione</option>
                  <option value="1">Remetente</option>
                  <option value="2">Destinatário</option>
                  <option value="3">Outros</option>
                </select>
                <label for="tipoFrete" class="form-label ml-3">Tipo Frete</label>
              </div>                
            </div>

            <div class="mb-2 col-sm-2 form-floating">
              <input type="date" class="form-control" id="dataInicio" placeholder="Data de início">

              <label for="dataInicio" class="form-label ml-3">Data de início</label>
            </div>            
            <div class="mb-2 col-sm-2 form-floating ml-1">
              <input type="date" class="form-control" id="dataFinal" placeholder="Data final">

              <label for="dataFinal" class="form-label ml-3">Data final</label>
            </div>        

            <div class="input-group col-sm-8 row">
              <div class="mb-2 col-sm-6 form-floating mr-0">
                <input type="text" class="form-control" id="faturarPorCnpj" placeholder="Data final">
                <label for="faturarPorCnpj" class="form-label ml-3">Cnpj Parceiro</label>
              </div>
              <div class="mb-2 col-sm-6 form-floating ml-0">
                <input type="text" class="form-control" id="faturarPorCnpj" placeholder="Data final" disabled>
                <label for="faturarPorCnpj" class="form-label ml-3">Razão Social</label>
              </div>
            </div>

            <div class="input-group mb-2" align="right">
              <button type="button" class="btn btn-secondary btn-rounded btn-icon" id="btnLimpaBuscaVeiculo" align="right">            
                <i class="ti-write"></i>
              </button>
              <button type="button" class="btn btn-warning btn-rounded btn-icon" id="btnGerarFaturaAutomatica" align="right">            
                <i class="ti-printer"></i>
              </button>                  
              <button type="button" class="btn btn-danger btn-rounded btn-icon" onclick="closeModal()" align="right">
                  <i class="ti-close"></i>
              </button>
            </div>
            <div class="table-responsive">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Nº Duplicata</th>
                    <th>Cnpj Tomador</th>
                    <th>Razão Tomador</th>
                    <th>Qtde de Documentos</th>
                    <th>Total</th>
                    <th>Vencimento</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1205</td>
                    <td>23.926.683/0001-99</td>
                    <td>Serafim Transportes Ltda</td>
                    <td>12</td>
                    <td>R$ 1532,49</td>
                    <td>25/10/2024</td>
                    <td><label class="badge badge-danger">Excluir</label></td>
                    <td><label class="badge badge-warning">Imprimir</label></td>
                    <td><label class="badge badge-primary">Editar</label></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          </div>
        </div>
    </div>
  </form>
  