{% extends 'base.html' %}

{%load static %}
{% load bootstrap %}
{% block 'conteudo' %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" 
        data-bs-target="#mdlCadParceiros">
    Launch demo modal
</button>
{% include 'parceiros.html'%}   
{% endblock %}
{%block 'js'%}
{% block js %}
<script>
  $('form').on('submit', function(e) {
    let url = '/salva_parceiro/'
    let postData = $('form').serialize();
    $.ajax({
      url: url,
      type: 'POST',
      data: postData,
      success: function(response) {
        // TODO
        console.log(response);
        adicionaContatoNaTabela(response)
        // addItem(response)
      },
      error: function(xhr) {
        console.log('Erro');
      },
      complete: function() {
        // closeModal()
      }
    });
    e.preventDefault();
  });
  function adicionaContatoNaTabela(response) {
    const data = response.dados[0];
    const template = '<tr>' +
            '<td>' + data.id + '</td>'+
            '<td>' + data.nome+ '</td>'+
            '<td>' + data.cargo + '</td>' +
            '<td>' + data.tipo + '</td>' +
            '<td>' + data.fone_email_etc +'</td>' +
        '</tr>'
  
    $('table tbody').append(template)
  };
  
  function closeModal() {
    $('#myModal').modal('hide');
    // Limpa os campos
    $('#id_first_name').val('');
    $('#id_last_name').val('');
    $('#id_email').val('');
  }

</script>

{% endblock js %}
{% endblock %}