<!-- Off-canvas -->
<div id="offcanvas" class="custom-offcanvas mt-4">
  <form id="frmPainelIntinerario">
  <div class="row">

    <div class="col-sm-12 d-flex mt-5 ml-2 row">
      <div class="mb-2 col-sm-4 justify-content-end">
        <label for="dataInicioPainelIntinerario">Data Inicio</label>
        <input type="date" class="form-control form-control-sm" id="dataInicioPainelIntinerario">
      </div>
      <div class="mb-2 col-sm-4 justify-content-end">
        <label for="dataFimPainelIntinerario">Data Fim</label>
        <input type="date" class="form-control form-control-sm" id="dataFimPainelIntinerario">
      </div>
      <div class="mb-2 col-sm-4 justify-content-end">
        <label for="painelIntinerarioRotas">Rota</label>
        <select id="painelIntinerarioRotas" class="form-select">
          <option selected>Rota</option>
        </select>
      </div>
      <div class="input-group mb-2 col-sm-12 justify-content-end">
        <input type="text" class="form-control form-control-sm" id="idManifestoPorIntinerario" placeholder="Nº Manifesto" disabled>
        <select id="painelIntinerarioEmissor" class="form-select form-select-sm" placeholder="Emissor">
        </select>
        <button type="button" class="btn btn-success btn-rounded btn-icon" id="btnSalvaIntinerario" >            
          <i class="ti-save"></i>
        </button>
        <button type="button" class="btn btn-info btn-rounded btn-icon" id="tracarRota" onclick="tracarRota()">            
          <i class="ti-location-pin"></i>
        </button>
        <button type="button" 
          class="btn btn-danger btn-rounded btn-icon pr-2" 
          onclick="fecharPainelIntinerario()">
            <i class="ti-close"></i>
        </button>
      </div>
    </div>
    <form id="frmPainelIntinerario">
      <div class="col-sm-12 mt-3 pr-0">
        <div class="input-group">
        <!-- Input para a placa do veículo -->
        <input 
          type="text" 
          class="form-control form-control-sm col-sm-6" 
          id="placaPainelIntinerario" 
          placeholder="Veículo Placa :" 
          maxlength="7" 
          oninput="allowOnlyAlphanumeric('placaPainelIntinerario'); transformToUpperCase('placaPainelIntinerario')" 
          onblur="getVeiculo('placaPainelIntinerario', 'modeloPainelIntinerario')">
            
          <!-- Input para o modelo do veículo (somente leitura) -->
          <input 
            type="text" 
            class="form-control form-control-sm col-sm-6" 
            id="modeloPainelIntinerario" 
            placeholder="Modelo" 
            disabled>
      
          <!-- Botão para buscar o veículo -->
          <a 
            class="btn btn-primary btn-sm" 
            id="btnBuscaVeiculo" 
            onclick="buscaVeiculosModal('placaPainelIntinerario','modeloPainelIntinerario')"
            style="display: flex; justify-content: center; align-items: center;">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
      
          <!-- Botão para adicionar novo veículo -->
          <a 
            class="btn btn-success btn-sm" 
            id="btnAddVeiculoPainelIntinerario" 
            onclick="openModal('cadastroVeiculo')" 
            style="display: flex; justify-content: center; align-items: center;">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        </div>


      </div>
      <div class="col-sm-12 mt-3 pr-0">
        <div class="input-group">
        <!-- Input para a placa do veículo -->
        <input 
          type="text" 
          class="form-control form-control-sm col-sm-6" 
          id="cpfMotoristaIntinerario" 
          onblur="getMotoristasPorCpf('cpfMotoristaIntinerario','nomeMotoristaIntinerario')"
          placeholder="Cpf Motorista :">
            
          <!-- Input para o modelo do veículo (somente leitura) -->
          <input 
            type="text" 
            class="form-control form-control-sm col-sm-6" 
            id="nomeMotoristaIntinerario" 
            placeholder="Nome : " 
            disabled>
      
          <!-- Botão para buscar o veículo -->
          <a 
            class="btn btn-primary btn-sm" 
            id="btnBuscaMotoristaIntinerario" 
            style="display: flex; justify-content: center; align-items: center;">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
      
          <!-- Botão para adicionar novo veículo -->
          <a 
            class="btn btn-success btn-sm" 
            id="btnAddVeiculoPainelIntinerario" 
            onclick="openModal('cadastroMotorista')" 
            style="display: flex; justify-content: center; align-items: center;">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-12 mt-4">
    <a class="btn btn-sm btn-danger" type="text" id="distanciaAPercorrer">
      Kms : 
    </a>

    <a class="btn btn-sm btn-info" type="text" id="tempoAproximado">
      Tempo :
    </a>

    <a class="btn btn-sm btn-warning" type="text" id="quantidadeDocumentos">
      Docs : 
    </a>

    <a class="btn btn-sm btn-success" type="text" id="pesoIntinerario">
      Peso :
    </a>
  </div>
  <div class="offcanvas-content">
    <div id="paginacaoPainelIntinerario"></div>
    <!-- Tabela Doctos -->
    <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
      <table id="tabelaDoctos" class="table table-striped table-borderless table-sm" style="width: 100%;">
        <thead>
          <tr>
            <th>DTC</th>
            <th>Nome</th>
            <th>Peso</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="tabelaDoctosBody">
        </tbody>
      </table>
    </div>
  </div>
</div>