{% extends 'base.html' %}

{% load static %}
{% load bootstrap %}
{% block 'conteudo' %}
<div>
<form  method="POST" action="{% url 'cad_contato' %}">    
    {% csrf_token %}
    <div class="container">
        <div class="col-sm-5">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <ul class="nav nav-item nav-pills mt-1 mb-0 border-0" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="btn btn-primary nav-link active letraCadParceiro" id="pills-estabelecimento-tab" 
                data-bs-toggle="pill" data-bs-target="#pills-estabelecimento" type="button" role="tab" 
                aria-controls="pills-estabelecimento" aria-selected="true">Estabelecimento</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="btn btn-primary nav-link letraCadParceiro" id="pills-endereco-tab" 
              data-bs-toggle="pill" data-bs-target="#pills-endereco" 
              type="button" role="tab" aria-controls="pills-endereco" 
              aria-selected="false">Endereço</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="btn btn-primary nav-link letraCadParceiro" id="pills-contato-tab" 
              data-bs-toggle="pill" data-bs-target="#pills-contato" 
              type="button" role="tab" aria-controls="pills-contato" 
              aria-selected="false">Contato</button>
            </li>
          </ul>
          <div class="tab-content mb-0 border-0" id="pills-tabContent">
            <div class="tab-pane  show active" id="pills-estabelecimento" role="tabpanel" aria-labelledby="pills-estabelecimento-tab">
                <div class="form-group row">
                    <div class="col-sm-7 mb-0 form-group">
                        {{form.cnpj_cpf|bootstrap}}
                    </div>
                    <div class="col-sm-5 mb-0 form-group">
                        {{form.insc_est|bootstrap}}
                    </div>
                    <div class="col-sm-6 mb-0 form-group">
                        {{form.nome_razao|bootstrap}}
                    </div>
                    <div class="col-sm-6 mb-0 form-group">
                        {{form.nome_fantasia|bootstrap}}
                    </div>
                    <div class="col-sm-12 mb-0 form-group">
                        {{form.observacao|bootstrap}}
                    </div> 
                </div>
            </div>
            <div class="tab-pane fade" id="pills-endereco" role="tabpanel" aria-labelledby="pills-endereco-tab">
                <div class="form-group row mb-0">
                    <div class="col-sm-4 mb-0 form-group">
                        {{form.cep|bootstrap}}
                    </div>
                    <div class="col-sm-8 mb-0 form-group">
                        {{form.rua|bootstrap}}
                    </div>
                    <div class="col-sm-2 mb-0 form-group">
                        {{form.numero|bootstrap}}
                    </div>
                    <div class="col-sm-4 mb-0 form-group">
                        {{form.complemento|bootstrap}}
                    </div>
                    <div class="col-sm-6 mb-0 form-group">
                        {{form.bairro|bootstrap}}
                    </div>
                    <div class="col-sm-6 mb-0 form-group">
                        {{form.cidade|bootstrap}}
                    </div>
                    <div class="col-sm-6 mb-0 form-group">
                        {{form.uf|bootstrap}}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contato" role="tabpanel" aria-labelledby="pills-contato-tab">
                    <div class="form-group row">
                        <div class="col-sm-3 mb-0 form-group">
                            {{form.tipo_contato|bootstrap}}
                        </div>
                        <div class="col-sm-6 mb-0 form-group">
                            {{form.nome|bootstrap}}
                        </div>
                        <div class="col-sm-3 mb-0 form-group">
                            {{form.fone_email_etc|bootstrap}}
                        </div>                         
                        <div class="col-sm-12 mb-0 form-group" >
                            {{form.envio|bootstrap}}
                            <div class="col-sm-12" align="right">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
    
                        </div>
                        <div class="col-sm-12 mb-0 form-group" >
                            <h4 class="card-title">Contatos</h4>
                            <div class="card">

                            <div class="table-responsive">
                                <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        Nome
                                    </th>
                                    <th>
                                        Cargo
                                    </th>
                                    <th>
                                        Tipo
                                    </th>
                                    <th>
                                        Contato
                                    </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>                                                
                </div>
          </div>        
    <div class="row form-group">
        <input type="submit" class="btn btn-primary col-sm-12" value = "Salvar" ></input>
    </div>
    </div>
</form>
</div>

{% endblock %}
{% block 'js' %}
    <script src="{% static 'js/meusJS/cnpj.js' %}"></script>
{% endblock %}

