{% extends 'base.html' %}
{% load static %}

{% block 'cabecalho' %}
<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj2Tn5LiWlTUgevFKlQ7aUku8ZxYyjyXM"></script>

<!--  -->

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>


{% endblock %}
{% block 'conteudo' %}
<div>
    <div class="row">
      <div class="card col-sm-8">
        <div class="card-body">
          <div id="map" style="height: 500px;border-radius: 10px;"></div>
        </div>
      </div>
      <div class="col-sm-4 pl-0 mt-0">
        <div class="card">
          <div class="card-body">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="home-tab" data-bs-toggle="tab" href="#home-1" role="tab" aria-controls="home-1" aria-selected="false" tabindex="-1">Home</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile-1" role="tab" aria-controls="profile-1" aria-selected="false" tabindex="-1">Profile</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="contact-tab" data-bs-toggle="tab" href="#contact-1" role="tab" aria-controls="contact-1" aria-selected="true">Contact</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade" id="home-1" role="tabpanel" aria-labelledby="home-tab">
                <div class="media">
                  <img class="me-3 w-25 rounded" src="../../../assets/images/samples/300x300/13.jpg" alt="sample image">
                  <div class="media-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-borderless">
                        <thead>
                          <tr>
                            <th>Product</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>459094</td>
                            <td class="font-weight-medium">
                                <div class="badge badge-success">Completed</div>
                            </td>
                          </tr>
                          <tr>
                            <td>Search Engine Optimization</td>
                            <td class="font-weight-medium">
                              <div class="badge badge-success">Completed</div>
                            </td>
                          </tr>
                          <tr>
                            <td>28 Sep 2018</td>
                            <td class="font-weight-medium">
                              <div class="badge badge-warning">Pending</div>
                            </td>
                          </tr>
                          <tr>
                            <td>30 Jun 2018</td>
                            <td class="font-weight-medium">
                              <div class="badge badge-warning">Pending</div>
                            </td>
                          </tr>
                          <tr>
                            <td>01 Nov 2018</td>
                            <td class="font-weight-medium">
                              <div class="badge badge-danger">Cancelled</div>
                            </td>
                          </tr>
                          <tr>
                            <td>20 Mar 2018</td>
                            <td class="font-weight-medium">
                              <div class="badge badge-warning">Pending</div>
                            </td>
                          </tr>
                          <tr>
                            <td>26 Oct 2018</td>
                            <td class="font-weight-medium">
                              <div class="badge badge-success">Completed</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="profile-1" role="tabpanel" aria-labelledby="profile-tab">
                <div class="media">
                  <img class="me-3 w-25 rounded" src="../../../assets/images/faces/face12.jpg" alt="sample image">
                  <div class="media-body">
                    <h4 class="mt-0">John Doe</h4>
                    <p>
                      Fail most room even gone her end like. Comparison dissimilar unpleasant six compliment two
                      unpleasing
                      any add. Ashamed my company thought wishing colonel it prevent he in. Pretended residence
                      are something
                      far engrossed old off.
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade active show" id="contact-1" role="tabpanel" aria-labelledby="contact-tab">
                <h4>Contact us </h4>
                <p>
                  Feel free to contact us if you have any questions!
                </p>
                <p>
                  <i class="ti-headphone-alt text-info"></i>
                  +123456789
                </p>
                <p>
                  <i class="ti-email text-success"></i>
                  contactus@example.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Toggle bottom offcanvas</button>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas bottom</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    ...
  </div>
</div>

<script>
    const geraCoordenadas = ()=>{
        // Coordenadas aproximadas para São Paulo e Grande São Paulo
        var saoPauloBounds = {
            north: -23.356792,
            south: -23.7452,
            west: -46.825123,
            east: -46.365582
        };

        // Número de linhas e colunas para a grade
        var rows = 6;
        var cols = 10;

        // Calcula o intervalo de latitude e longitude
        var latInterval = (saoPauloBounds.north - saoPauloBounds.south) / rows;
        var lngInterval = (saoPauloBounds.east - saoPauloBounds.west) / cols;

        // Lista para armazenar as coordenadas geradas
        var coordenadas = [];

        // Loop para gerar as coordenadas da grade
        for (var i = 0; i < rows; i++) {
            for (var j = 0; j < cols; j++) {
                // Calcula as coordenadas para o ponto na grade
                var lat = saoPauloBounds.south + latInterval * i + Math.random() * latInterval * 0.8;
                var lng = saoPauloBounds.west + lngInterval * j + Math.random() * lngInterval * 0.8;
                var status = Math.floor(Math.random() * (4 - 1)) + 1
                coordenadas.push([lat, lng,status]);
            }
        }

        // Exibe as coordenadas geradas
        return coordenadas ;
    }

    function initMap() {
      // Coordenadas iniciais
      let myLatLng = { lat: -23.47337308, lng: -46.47320867 };
      let iconeVermelho = "{% static 'images/mapasIcones/localizacaoVermelho.png' %}"
      let iconeAzul = "{% static 'images/mapasIcones/localizacaoAzul.png' %}"
      let iconeVerde = "{% static 'images/mapasIcones/localizacaoVerde.png' %}"
      let armazem = "{% static 'images/mapasIcones/armazem.png' %}"
      var iconSize = {
        width: 20, // Largura desejada em pixels
        height: 20 // Altura desejada em pixels
      };

      // Cria um novo mapa do Google
      var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 10.3 // Ajuste o zoom conforme necessário
      });

      
        const addMarker = (latitude, longitude, icone, callback) => {
            var marker = new google.maps.Marker({
                position: { lat: latitude, lng: longitude },
                map: map,
                icon: {
                    url: icone,
                    scaledSize: new google.maps.Size(iconSize.width, iconSize.height)
                }
        });

        // Adiciona um ouvinte de evento de clique ao marcador
        marker.addListener('click', function() {
            // Executa o callback dinâmico
            if (typeof callback === 'function') {
                callback();
            }
        });
    };

    const minhaFuncao = ()=>{
      alert("minhaFuncao")
    }


    const minhaFuncao2 = () => {
      // let msgColetasEntregas = `Nº ${dadosMsg.id} \n
      //                       Data ${dadosMsg.data} \n
      //                       Romaneio Nº ${dadosMsg.romaneio}\n
      //                       Veículo ${dadosMsg.veiculo}\n
      //                       Motorista ${dadosMsg.motorista}\n
      //                       Vols ${dadosMsg.volumes} | Peso ${dadosMsg.peso}`
      const msgInfo = (dadosMsg) => {
  let tabela = `
    <table style="width:100%">
      <tr>
        <td style="text-align: left;"><strong>Nº:</strong></td>
        <td style="text-align: left;">${dadosMsg.numero}</td>
      </tr>
      <tr>
        <td style="text-align: left;"><strong>Data:</strong></td>
        <td style="text-align: left;">${dadosMsg.data}</td>
      </tr>
      <tr>
        <td style="text-align: left;"><strong>Romaneio Nº:</strong></td>
        <td style="text-align: left;">${dadosMsg.romaneio}</td>
      </tr>
      <tr>
        <td style="text-align: left;"><strong>Veículo:</strong></td>
        <td style="text-align: left;">${dadosMsg.veiculo}</td>
      </tr>
      <tr>
        <td style="text-align: left;"><strong>Motorista:</strong></td>
        <td style="text-align: left;">${dadosMsg.motorista}</td>
      </tr>
      <tr>
        <td style="text-align: left;"><strong>Vols:</strong></td>
        <td style="text-align: left;">${dadosMsg.volumes}</td>
      </tr>
      <tr>
        <td style="text-align: left;"><strong>Peso:</strong></td>
        <td style="text-align: left;">${dadosMsg.peso}</td>
      </tr>
      <tr>
        <td style="text-align: left;"><strong>Localização:</strong></td>
        <td style="text-align: left;">${dadosMsg.localizacao}</td>
      </tr>
    </table>
  `;

  Swal.fire({
    title: dadosMsg.titulo,
    html: tabela,
    icon: "info"
  });
}

let dadosMsg = {
  titulo: "Titulo Teste",
  numero: "459824",
  data: "17/10/2007",
  romaneio: "155979",
  veiculo: "AES-5762",
  motorista: "Edson Tomas",
  volumes: "5",
  peso: "25",
  localizacao: "Cumbica-Guarulhos-SP"
};

msgInfo(dadosMsg);



    };


    addMarker(myLatLng.lat,myLatLng.lng,armazem)

    // Obtém as coordenadas geradas pela função geraCoordenadas
    var coordenadasGeradas = geraCoordenadas();
    // Adiciona marcadores para cada conjunto de coordenadas
    coordenadasGeradas.forEach(function(coordenadas) {
      switch (coordenadas[2]) {
        case 1:
          addMarker(coordenadas[0],coordenadas[1],iconeVermelho,minhaFuncao2)
          break;
        case 2:
          addMarker(coordenadas[0],coordenadas[1],iconeVerde,minhaFuncao2)
          break;
        case 3:
          addMarker(coordenadas[0],coordenadas[1],iconeAzul,minhaFuncao2)
          break;                                
        default:
          break;
      }
    });


}

  // Chame a função initMap quando a página for carregada
  google.maps.event.addDomListener(window, 'load', initMap);
</script>

{% endblock %}

{% block js %} 

{% endblock %}