  {% extends 'base.html' %}
  {% load static %}

  {% block 'cabecalho' %}
  <!-- Google Maps -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj2Tn5LiWlTUgevFKlQ7aUku8ZxYyjyXM"></script>

  <!--  -->

  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  {% endblock %}
  {% block 'conteudo' %}

  <div>
    <ul class="nav nav-pills nav-pills-custom" id="tab-planejamento-acompanhamento" role="tablist" style="padding-bottom: 0px !important;">
      <li class="nav-item nav-planejamento-acompanhamento" role="presentation">
        <a class="nav-link active" id="pillColetas" data-bs-toggle="pill" href="#pillConteudoColetas" role="tab" aria-controls="pills-home" aria-selected="true">
          <span>Coletas</span>
        </a>
      </li>
      <li class="nav-item nav-planejamento-acompanhamento " role="presentation">
        <a class="nav-link" id="pillEntregas" data-bs-toggle="pill" href="#pillConteudoEntregas" role="tab" aria-controls="pills-profile" aria-selected="false" tabindex="-1">
          <span>Entregas</span>
        </a>
      </li>
      <li class="nav-item nav-planejamento-acompanhamento" role="presentation">
        <a class="nav-link" id="pills-contact-tab-custom" data-bs-toggle="pill" href="#pills-music" role="tab" aria-controls="pills-contact" aria-selected="false" tabindex="-1">
          Music
        </a>
      </li>
      <li class="nav-item nav-planejamento-acompanhamento" role="presentation">
        <a class="nav-link" id="pills-vibes-tab-custom" data-bs-toggle="pill" href="#pills-vibes" role="tab" aria-controls="pills-contact" aria-selected="false" tabindex="-1">
          Vibes
        </a>
      </li>
      <li class="nav-item nav-planejamento-acompanhamento" role="presentation">
        <a class="nav-link" id="pills-energy-tab-custom" data-bs-toggle="pill" href="#pills-energy" role="tab" aria-controls="pills-contact" aria-selected="false" tabindex="-1">
          Energy
        </a>
      </li>
    </ul>
    <div class="tab-content tab-content-custom-pill conteudo-pill-planejamento-acompanhamento" id="pills-tabContent-custom">
      <div class="tab-pane fade show active" id="pillConteudoColetas" role="tabpanel" aria-labelledby="pillColetas">
        {% include 'abaPredtc.html' %}
      </div>
      <div class="tab-pane fade" id="pillConteudoEntregas" role="tabpanel" aria-labelledby="pillEntregas">
        {% include 'mapasEntregas.html' %}
      </div>
      <div class="tab-pane fade" id="pills-music" role="tabpanel" aria-labelledby="pills-contact-tab-custom">
      </div>
      <div class="tab-pane fade" id="pills-vibes" role="tabpanel" aria-labelledby="pills-vibes-tab-custom">
      </div>
      <div class="tab-pane fade" id="pills-energy" role="tabpanel" aria-labelledby="pills-energy-tab-custom">
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalPlanejamentoColetas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalColetaId">Modal title</h5>
          <button type="button" class="btn-close" onclick="closeModal()"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6" id="tabelaColetas">

            </div>
            <div class="col-sm-6" id="acoesColetas">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <script>
      function initMap() {
        // Coordenadas iniciais
        let myLatLng = { lat: -23.47337308, lng: -46.47320867 };
        let myLatLngEntrega = { lat: -12.9704, lng: -38.5124 };
        let iconeVermelho = "{% static 'images/mapasIcones/pinVermelho.png' %}"
        let iconeAzul = "{% static 'images/mapasIcones/pinAzul.png' %}"
        let iconeRoxo = "{% static 'images/mapasIcones/pinRoxo.png' %}"
        let iconeVerde = "{% static 'images/mapasIcones/pinVerde.png' %}"
        let iconePreto = "{% static 'images/mapasIcones/pinPreto.png' %}"
        let armazem = "{% static 'images/mapasIcones/armazem.png' %}"
        let local = "{% static 'images/mapasIcones/loja.png' %}"

        var coordenadasGeradas = geraCoordenadas();
        var iconSize = {
          width: 30, // Largura desejada em pixels
          height: 30 // Altura desejada em pixels
        };

        // Cria um novo mapa do Google
        var map = new google.maps.Map(document.getElementById('map'), { 
            center: myLatLng,
            zoom: 10.3 // Ajuste o zoom conforme necessário
        });

        // Cria um novo mapa do Google
        var mapEntregas = new google.maps.Map(document.getElementById('mapEntregas'), {
          center: myLatLngEntrega,
          zoom: 10.3 // Ajuste o zoom conforme necessário
        });

        // Função para mudar a localização e o zoom do mapa
        function mudarLocalizacaoEZoom(latitude, longitude, zoom) {
          var novaPosicao = new google.maps.LatLng(coordenadasGeradas[5][0],coordenadasGeradas[5][1]);
          map.setCenter(novaPosicao);
          map.setZoom(zoom);
        }

        // let btn = document.getElementById("btnMudaTeste");
        // btn.addEventListener("click", () => {
        //   mudarLocalizacaoEZoom(-23.47337308, -46.47320867, 13);
        // });
        
        const addMarker = (latitude, longitude, icone,dados, callback) => {
          var marker = new google.maps.Marker({
              position: { lat: latitude, lng: longitude },
              map: map,
              icon: {
                  url: icone,
                  scaledSize: new google.maps.Size(iconSize.width, iconSize.height)
              }
          });

          // Adiciona um ouvinte de evento de clique ao marcador
          marker.addListener('click', function() {
              // Executa o callback dinâmico
              if (typeof callback === 'function') {
                  callback(dados);
              }
          });
        };

const mostrarInformacoesDetalhadas = (dados) => {
  const msgInfo = () => {
    let tabela = `
      <div class="row">
        <div class="col-sm-6">
          <table class="table table-striped table-sm" style="width:80%">
            <tr>
              <td style="text-align: left;"><strong>Número:</strong></td>
              <td style="text-align: left;">${dados[3]}</td>
            </tr>
            <tr>
              <td style="text-align: left;"><strong>Data:</strong></td>
              <td style="text-align: left;">17/10/2007</td>
            </tr>
            <tr>
              <td style="text-align: left;"><strong>Romaneio:</strong></td>
              <td style="text-align: left;">${dados[3]}</td>
            </tr>
            <tr>
              <td style="text-align: left;"><strong>Veículo:</strong></td>
              <td style="text-align: left;">${dados[5]}</td>
            </tr>
            <tr>
              <td style="text-align: left;"><strong>Motorista:</strong></td>
              <td style="text-align: left;">${dados[4]}</td>
            </tr>
            <tr>
              <td style="text-align: left;"><strong>Volumes:</strong></td>
              <td style="text-align: left;">${dados[7]}</td>
            </tr>
            <tr>
              <td style="text-align: left;"><strong>Peso:</strong></td>
              <td style="text-align: left;">${dados[8]}</td>
            </tr>
            <tr>
              <td style="text-align: left;"><strong>Localização:</strong></td>
              <td style="text-align: left;">${dados[6]}</td>
            </tr>
            <tr>
              <td style="text-align: left;"><strong>Status:</strong></td>
              <td style="text-align: left;">${dados[9]}</td>
            </tr>
          </table>
        </div> 
      </div>
    `;
    let acoes = `
                <b class="pt-2" >Anexar ao Veículo</b>
                <select class="form-select">
                  <option>Teste 1</option>
                  <option>Teste 2</option>
                </select>
                <div class="mt-2">
                  <b class="pt-2" >Prioridade</b>
                  <div class="badge badge-warning" style="width:100%">Média</div>
                </div>
                `
    let idColeta = `<span>Pré Dtc Nº ${dados[3]}</span>`
    let modalColetaId = document.getElementById("modalColetaId")
    let tabelaColetas = document.getElementById("tabelaColetas")
    let acoesColetas = document.getElementById("acoesColetas")
    tabelaColetas.innerHTML = tabela
    acoesColetas.innerHTML = acoes
    modalColetaId.innerHTML = idColeta
    openModal('modalPlanejamentoColetas')

  };

  // Chama a função msgInfo
  msgInfo();
};

    let dadosTableColetas = []
    addMarker(myLatLng.lat,myLatLng.lng,armazem)
    // Obtém as coordenadas geradas pela função geraCoordenadas
      // Adiciona marcadores para cada conjunto de coordenadas
      coordenadasGeradas.forEach(function(coordenadas) {
        switch (coordenadas[2]) {
          case 1:
            dadosTableColetas.push({id:coordenadas[3],status:'Em Rota',placa:coordenadas[5]})
            addMarker(coordenadas[0],coordenadas[1],local,coordenadas,mostrarInformacoesDetalhadas)
            break;
          case 2:
          dadosTableColetas.push({id:coordenadas[3],status:'Em Trânsito',placa:coordenadas[5]})
            addMarker(coordenadas[0],coordenadas[1],local,coordenadas,mostrarInformacoesDetalhadas)
            break;
          case 3:
            dadosTableColetas.push({id:coordenadas[3],status:'Concluída',placa:coordenadas[5]})
            addMarker(coordenadas[0],coordenadas[1],local,coordenadas,mostrarInformacoesDetalhadas)
            break;  
          case 4: 
          dadosTableColetas.push({id:coordenadas[3],status:'Aguardando',placa:coordenadas[5]})
            addMarker(coordenadas[0],coordenadas[1],local,coordenadas,mostrarInformacoesDetalhadas)
            break;                                       
          default:
            break;
        }
      });
      popula_tbody_paginacao('paginacaoPlanejamento','infoPlanejamentoColetas',dadosTableColetas,false,1,9999,false)
    }


    // Chame a função initMap quando a página for carregada
    google.maps.event.addDomListener(window, 'load', initMap);


  </script>

  {% endblock %}

  {% block js %} 
  {% endblock %}