{% extends 'base.html' %}

{%load static %}
{% load bootstrap %}
{% block 'conteudo' %}
  <div class="row pl-5 pt-4">
    <div class="col-12"> 
      <div class="form-floating col-sm-12 mb-1 pr-1 pl-0 input-group">
          <input type="text" class="form-control" id="buscarTabelaFrete"
           placeholder="Buscar" name="buscarTabelaFrete">
           <label for="buscarTabelaFrete" class="text-primary">Buscar</label>
          <div class="input-group-append">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mdlTabFrete">
                <i class="ti-save"></i>
                Criar Tabela        
            </button>               
          </div>  
      </div>                
    </div>
    <div class="col-12">
      <table class="table table-dark table-striped table-sm" id="relatorioTabela">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Descrição</th>
            <th scope="col">Mínimo</th>
            <th scope="col">Advalor</th>
            <th scope="col">Gris</th>
            <th scope="col">Despacho</th>
            <th scope="col">Pedágio</th>
            <th scope="col">Gris</th>
            <th scope="col">Outros</th>
            <th scope="col">Excluir</th>
            <th scope="col">Visualizar</th> 
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  {% include 'mdlTabela.html' %}        
  </div>        
{% endblock %}

{%block 'js'%}
  <script src="{% static 'js/meusJS/tabela.js' %}"></script>
  <script src="{% static 'js/meusJS/components/tabela/anexaParceiro/anexaParceiro.js' %}"></script>
  <script src="{% static 'js/meusJS/components/tabela/faixas/faixas.js' %}"></script>  
  <script src="{% static 'js/meusJS/components/tabela/Tabela.js' %}"></script>
  <script src="{% static 'js/meusJS/components/tabela/salvaTabela.js' %}"></script>
  <!-- <script src="{% static 'js/meusJS/faixas.js' %}"></script> -->
  <script src="{% static 'js/meusJS/cmbRota.js' %}"></script>
{% endblock 'js' %}
