.altura-navbar{
    height: 40px !important;
}

.bloco-conteudo{
    padding: 0px 10px 0px 10px !important;
border-top: 1px !important;
}

.tab-preDtc{
    padding: 15px 40px 15px 40px !important;
}

.pill-preDtc{
    padding: 1px 40px 0px 40px !important;
    border: none;
}

.footer{
    padding:10px 1.25rem !important;    
}

.icone-menu{
    width: 50px !important;
}

.margin-topo{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important; 
    padding-left: 0px !important;
}
.margin-topo-modal{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important; 
    padding-left: 10px !important;
}

.conjunto-botoes{
    margin-bottom: 3px !important;
}

.modal-altura{
    position: fixed !important; 
    top: 10px !important; 
    left: 0px !important; 
    right: 0px !important; 
    margin: auto !important;
}

.campo-vazio {
    border-color: red;
    background-color: #ffe6e6; /* ou outra cor de fundo desejada */
}
  