<div class="modal" id="modalCalcM3" tabindex="-1">
    <div class="modal-dialog"  >
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title">Calcular M³</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="row mt-4">
            <div class="col-sm-1 form-group pl-3 pr-1">

            </div>
            <div class="col-sm-2 form-group pl-0 pr-1">
                <input type="text" class="form-control" 
                placeholder="Vol" name="volumes" id="volumes">
            </div>            
            <div class="col-sm-2 form-group pr-1 pl-0">
                <input type="text" class="form-control " 
                placeholder="Alt" name="altura" id="altura">
            </div>
            <div class="col-sm-2 mb-1 form-group pl-0 pr-0">
                <input type="text" class="form-control " 
                placeholder="Larg" name="largura" id="largura">
            </div>
            <div class="col-sm-2 mb-1 form-group pl-1 pr-0  ">
                <input type="text" class="form-control " 
                placeholder="Comp" name="comprimento" id="comprimento">
            </div>
            <div class="col-sm-1 mb-1 form-group pl-1  ">
                <button type="button" class="btn btn-primary btn-rounded btn-icon">
                    <i class="ti-plus"></i>
                  </button>
            </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Descartar</button>
          <button type="button" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>