<div class="modal" id="modalCalcM3" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Calcular M³</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="row">
            <div class="col-sm-2 form-group  pl-3 pr-1">
                <input type="text" class="form-control" 
                placeholder="Volumes" name="volumes" id="volumes">
            </div>            
            <div class="col-sm-2 form-group pr-1 pl-0">
                <input type="text" class="form-control " 
                placeholder="Altura" name="altura" id="altura">
            </div>
            <div class="col-sm-2 mb-1 form-group pl-0 pr-0">
                <input type="text" class="form-control " 
                placeholder="Largura" name="largura" id="largura">
            </div>
            <div class="col-sm-2 mb-1 form-group pl-1  ">
                <input type="text" class="form-control " 
                placeholder="Comprimento" name="comprimento" id="comprimento">
            </div>
            <div class="col-sm-2 mb-1 form-group pl-1  ">
                <button type="button" class="btn btn-primary btn-rounded btn-icon">
                    <i class="ti-plus"></i>
                  </button>
            </div>            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>