<div class="row p-0">
    <div class="form-group col-6 mb-0 mt-0">
        <div class="row">

            <div class="col-3  pl-1 pr-1 mt-0">
                <div class="form-floating">
                    <select class="form-select" id="origemCte" aria-label="especie nf">
                    <option selected>Origem</option>
                    <option value="1">NF-e</option>
                    <option value="2">Outros</option>
                    </select>
                    <label for="origemCte">Origem</label>
                </div>
            </div>    
            <div class="col-3  pl-1 pr-1 mt-0">
                <div class="form-floating">
                    <select class="form-select" id="destinoCte" aria-label="especie nf">
                    <option selected>Destino</option>
                    <option value="1">NF-e</option>
                    <option value="2">Outros</option>
                    </select>
                    <label for="destinoCte">Destino</label>
                </div>
            </div> 
            <div class="col-3 pl-1 pr-0">
                <div class="form-floating">
                    <select class="form-select" id="emissoraCte" aria-label="especie nf">
                    <option selected>Emissora</option>
                    <option value="1">NF-e</option>
                    <option value="2">Outros</option>
                    </select>
                    <label for="emissoraCte">Emissora</label>
                </div>
            </div> 
            <div class="col-3 pl-1 pr-1">
                <div class="form-floating">
                    <select class="form-select" id="tipoCte" aria-label="especie nf">
                        <option value="1">Normal</option>
                        <option value="2">Complemento</option>
                    </select>
                    <label for="tipoCte">Tipo CT-e</label>
                </div>
            </div>
            <div class="col-3 pl-1 pr-0 mt-1">
                <div class="form-floating">
                    <select class="form-select" id="tipoCalc" aria-label="especie nf">
                    <option selected>Selecione</option>
                    <option value="1">Tabela Geral</option>
                    <option value="2">Tabela Cliente</option>
                    <option value="2">Frete Informado</option>
                    </select>
                    <label for="tipoCalc">Tipo de cálculo</label>
                </div>
            </div>      
            <div class="col-9 pl-1 pr-1 mt-1">
                <div class="form-floating">
                    <select class="form-select" id="selecionaTabelaCte" aria-label="especie nf">
                    <option selected>Selecione</option>
                    <option value="1">NF-e</option>
                    <option value="2">Outros</option>
                    </select>
                    <label for="selecionaTabelaCte">Tabela de frete</label>
                </div>
            </div> 
            <div class="col-8  pl-1 pr-1 mt-1">
                <div class="form-floating">
                    <select class="form-select" id="cfopCte" aria-label="especie nf">
                    <option selected>CFOP</option>
                    <option value="1">NF-e</option>
                    <option value="2">Outros</option>
                    </select>
                    <label for="cfopCte">CFOP</label>
                </div>
            </div>    
            <div class="col-4  pl-1 pr-1 mt-1">
                <div class="form-floating">
                    <select class="form-select" id="cfopCte" aria-label="especie nf">
                    <option selected>CFOP</option>
                    <option value="1">NF-e</option>
                    <option value="2">Outros</option>
                    </select>
                    <label for="cfopCte">CFOP</label>
                </div>
            </div>  
            <div class="col-12 pl-1 mt-1">
                <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Total de Volumes</th>
                          <th>Peso Real</th>
                          <th>M³</th>
                          <th>Peso faturado</th>
                          <th>Valor Nf's</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>350</td>
                          <td>5.38</td>
                          <td>1585</td>
                          <td>R$ 3.146,47</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>                                
        </div>
    </div>
    <div class="form-group col-6 mt-0">
        <div class="form-group row mb-1">
            <div class="col-sm-4 mb-1 form-group pr-1 pl-1 form-floating">
                <input type="text" class="form-control form-control-sm " 
                    placeholder="Frete Peso" name="fretePesoNf" id="fretePesoNf">
                <label class="text-secondary" for="fretePesoNf">Frete peso:</label>
            </div>
            <div class="col-sm-4 mb-1 pl-0 pr-1 form-group form-floating">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Frete Valor" name="freteValorNf" id="freteValorNf">
                <label class="text-secondary" for="freteValorNf">Frete valor:</label>

            </div> 
            <div class="col-sm-4 mb-1 pl-0 pr-1 form-group form-floating">
                <input type="text" class="form-control form-control-sm " 
                placeholder="Advalor" name="advalorNf" id="advalorNf">
                <label class="text-secondary"for="advalorNf">Advalor:</label>                
            </div>            
            <div class="col-sm-3 mb-0 pr-1 pl-1 form-group form-floating ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Gris" name="grisNf" id="grisNf">
                <label class="text-secondary" for="grisNf">Gris:</label>
            </div>
            <div class="col-sm-3 mb-1 pr-1 pl-0 form-group form-floating">
                <input type="text" class="form-control  form-control-sm " 
                placeholder="Pedágio" id="pedagioNf" name="pedagioNf">
                <label class="text-secondary"for="pedagioNf">Pedágio:</label>
            </div>              
            <div class="col-sm-3 mb-1 pl-0 pr-1 form-group form-floating">
                <input type="text" class="form-control  form-control-sm " 
                placeholder="Despacho" id="despachoNf" name="despachoNf">
                <label class="text-secondary"for="despachoNf">Despacho:</label>                
            </div>                                
            <div class="col-sm-3 mb-1 pl-0 pr-1 form-group form-floating ">
                <input type="text" class="form-control  form-control-sm " 
                placeholder="Outros" id="outrosNf" name="outrosNf">
                <label class="text-secondary"for="outrosNf">Outros:</label>
            </div> 

            <div class="form-check form-check-primary col-3 pl-3 pr-0 mt-4">
                <label class="form-check-label">
                <input type="checkbox" class="form-check-input" checked="" id="icmsInclusoNf" name="icmsInclusoNf">
                Icms incluso ?
                <i class="input-helper"></i></label>
            </div>  

            <div class="col-sm-3 mb-0 pr-1 pl-1 form-group form-floating ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Gris" name="baseCalculoNf" id="baseCalculoNf" disabled>
                <label class="text-secondary" for="baseCalculoNf">Base de Cálculo:</label>
            </div>
            <div class="col-sm-3 mb-1 pr-1 pl-0 form-group form-floating">
                <input type="text" class="form-control  form-control-sm " 
                placeholder="Pedágio" id="aliquotaNf" name="aliquotaNf" disabled>
                <label class="text-secondary"for="aliquotaNf">Alíquota:</label>
            </div>              
            <div class="col-sm-3 mb-1 pl-0 pr-1 form-group form-floating">
                <input type="text" class="form-control  form-control-sm " 
                placeholder="Despacho" id="icmsNf" name="icmsNf" disabled>
                <label class="text-secondary h1"for="icmsNf">Icms R$:</label>                
            </div>                                
            <div class="col-sm-12 mb-1 pl-0 pr-1 form-group form-floating ">
                <input type="text" class="form-control form-control-sm bg-primary text-capitalize text-danger h1" 
                placeholder="Outros" id="freteTotalNf" name="freteTotalNf" value="R$ 0.00"disabled>
                <label class="text-secondary"for="freteTotalNf">Total Frete :</label>
            </div>  

            <div class="col-sm-3 mb-0 mt-1 form-group form-floating pl-1 pr-1">
                <button type="button" class="btn btn-warning btn-icon-text">
                        <i class="ti-credit-card btn-icon-prepend"></i>
                                Calcular
                </button>
            </div>
            <div class="col-sm-3 mb-1 mt-1 form-group pl-1 pr-1">
                <button type="button" class="btn btn-info btn-icon-text">
                <i class="ti-printer btn-icon-prepend"></i>           
                        Imprimir
                </button>  
            </div>

            <div class="col-sm-3 mb-1 mt-1 form-group pl-1 pr-1">
                <button type="button" class="btn btn-danger btn-icon-text">
                <i class="ti-trash btn-icon-prepend"></i>           
                        Apagar
                </button>  
            </div>  
            
            <div class="col-sm-3 mb-1 mt-1 form-group pl-1 pr-1">
                <button type="button" class="btn btn-success btn-icon-text">
                <i class="ti-alert btn-icon-prepend"></i>           
                        Gerar coleta
                </button>  
            </div>            
        </div>
    </div> 
</div>