{% load static %}
{% load bootstrap %}
<form method="POST" >{% csrf_token %}
  <div class="modal" id="mdlRotas" data-bs-backdrop="static" 
      data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" 
      aria-hidden="true">
    <div class="modal-dialog modal-xl" >
      <div class="modal-content">
         <div class="modal-body">
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <!-- Tab Nav -->
          <div class="nav-wrapper position-relative mb-2">
              <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-text" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-1-tab" data-bs-toggle="tab" href="#tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true">Dados Dtc</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-2-tab" data-bs-toggle="tab" href="#tabs-text-2" role="tab" aria-controls="tabs-text-2" aria-selected="false">Coleta</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-bs-toggle="tab" href="#tabs-text-3" role="tab" aria-controls="tabs-text-3" aria-selected="false">Cotação</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-4-tab" data-bs-toggle="tab" href="#tabs-text-4" role="tab" aria-controls="tabs-text-3" aria-selected="false">Dados Nf</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-5-tab" data-bs-toggle="tab" href="#tabs-text-5" role="tab" aria-controls="tabs-text-5" aria-selected="false">Messages</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-6-tab" data-bs-toggle="tab" href="#tabs-text-6" role="tab" aria-controls="tabs-text-6" aria-selected="false">Messages</a>
                  </li>                                                      
              </ul>
          </div>
          <!-- End of Tab Nav -->
          <!-- Tab Content -->
          <div class="card border-0">
              <div class="card-body p-0">
                  <div class="tab-content  border-0" id="tabcontent1">
                      <div class="tab-pane fade show active" id="tabs-text-1" role="tabpanel" aria-labelledby="tabs-text-1-tab">
                          {% include 'origDestPreDtc.html' %}                        
                      </div>
                      <div class="tab-pane fade" id="tabs-text-2" role="tabpanel" aria-labelledby="tabs-text-2-tab">
                          {% include 'dadosColetaPreDtc.html' %}  
                      </div>
                      <div class="tab-pane fade" id="tabs-text-3" role="tabpanel" aria-labelledby="tabs-text-3-tab">
                          <p>3</p>
                      </div>
                      <div class="tab-pane fade" id="tabs-text-4" role="tabpanel" aria-labelledby="tabs-text-4-tab">
                          <p>4</p>
                      </div>
                      <div class="tab-pane fade" id="tabs-text-5" role="tabpanel" aria-labelledby="tabs-text-5-tab">
                          <p>5</p>
                      </div>                                                                  
                      <div class="tab-pane fade" id="tabs-text-6" role="tabpanel" aria-labelledby="tabs-text-6-tab">
                          <p>6</p>
                      </div>                      
                  </div>
              </div>
          </div>
          <!-- End of Tab Content -->
        <!-- Fim -->        
        </div>
      </div>
    </div>
  </div>
</form>