{% comment %} Superior {% endcomment %}

<form method="POST" id="remDest">
{% csrf_token %}
<div class="row">
    {% comment %} Esquerda {% endcomment %}
    
    <div class="form-group col-6 mb-0 mt-0">
        <H4>Modalidade do Frete</H4>
    <select class="form-select form-control-sm">
        <option>CIF</option>
        <option>FOB</option>
        <option>CONSIGNATÁRIO</option>
    </select>
    </div>

    <div class="form-group col-6 mb-0 mt-0 ">
        <H7 class="card-title text-primary">Percurso</H7>
        <select class="form-select form-control-sm">
            <option>Selecione o Percurso</option>
        </select>
    </div>
    <hr></hr>
    {% comment %} Direita {% endcomment %}
    <div class="form-group col-6">
        <h4 class = "card-title text-primary">Remetente</h4>
        <div class="form-group row mb-1">
            <div class="col-sm-12 mb-1 form-group">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cnpj" name="cnpjRem" id="cnpjRem">
            </div>
            <div class="col-sm-6 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Nome/Razão" name="razao" id="razao" readOnly>
            </div>
            <div class="col-sm-6 mb-1 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Nome Fantasia" name="fantasia" id="fantasia" readOnly>
            </div>
            <div class="col-sm-4 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cep" name="cep" id="cep" readOnly>
            </div>
            <div class="col-sm-8 mb-1 form-group pl-0 " >
                <input type="text" class="form-control form-control-sm" 
                placeholder="Rua" name="rua" id="rua" readOnly>
            </div>
            <div class="col-sm-2 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                    placeholder="Nº" name="numero" id="numero" readOnly>
            </div>
            <div class="col-sm-4 mb-1 form-group pl-0 pr-1 ">
                <input type="text" class="form-control form-control-sm pl-0 " 
                placeholder="Complemento" name="complemento" id="complemento" readOnly>
            </div>
            <div class="col-sm-6 mb-1 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Bairro" name="bairro" id="bairro" readOnly>
            </div>
            <div class="col-sm-9 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cidade" name="cidade" id="cidade" readOnly>
            </div>
            <div class="col-sm-3 mb-3 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="UF" name="uf" id="uf" readOnly>
            </div>
        </div>
    </div>
    {% comment %} Direita {% endcomment %}
    <div class="form-group col-6 mb-0 mt-0">
        <h4 class = "card-title text-primary">Destinatario</h4>
        <div class="form-group row mb-1">
            <div class="col-sm-12 mb-1 form-group">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cnpj" name="cnpj" id="cnpj">
            </div>
            <div class="col-sm-6 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Nome/Razão" name="razao" id="razao" readOnly>
            </div>
            <div class="col-sm-6 mb-1 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Nome Fantasia" name="fantasia" id="fantasia" readOnly>
            </div>
            <div class="col-sm-4 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cep" name="cep" id="cep" readOnly>
            </div>
            <div class="col-sm-8 mb-1 form-group pl-0 " >
                <input type="text" class="form-control form-control-sm" 
                placeholder="Rua" name="rua" id="rua" readOnly>
            </div>
            <div class="col-sm-2 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                    placeholder="Nº" name="numero" id="numero" readOnly>
            </div>
            <div class="col-sm-4 mb-1 form-group pl-0 pr-1 ">
                <input type="text" class="form-control form-control-sm pl-0 " 
                placeholder="Complemento" name="complemento" id="complemento" readOnly>
            </div>
            <div class="col-sm-6 mb-1 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Bairro" name="bairro" id="bairro" readOnly>
            </div>
            <div class="col-sm-9 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cidade" name="cidade" id="cidade" readOnly>
            </div>
            <div class="col-sm-3 mb-3 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="UF" name="uf" id="uf" readOnly>
            </div>
        </div>
    </div>
</div>
{% comment %} Inferior {% endcomment %}
<div class="row">
    {% comment %} Esquerda {% endcomment %}
    <div class="form-group col-6">
        <h4 class = "card-title text-primary">Consignatário</h4>
        <div class="form-group row mb-1">
            <div class="col-sm-12 mb-1 form-group">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cnpj" name="cnpj" id="cnpj">
            </div>
            <div class="col-sm-6 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Nome/Razão" name="razao" id="razao" readOnly>
            </div>
            <div class="col-sm-6 mb-1 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Nome Fantasia" name="fantasia" id="fantasia" readOnly>
            </div>
            <div class="col-sm-4 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cep" name="cep" id="cep" readOnly>
            </div>
            <div class="col-sm-8 mb-1 form-group pl-0 " >
                <input type="text" class="form-control form-control-sm" 
                placeholder="Rua" name="rua" id="rua" readOnly>
            </div>
            <div class="col-sm-2 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                    placeholder="Nº" name="numero" id="numero" readOnly>
            </div>
            <div class="col-sm-4 mb-1 form-group pl-0 pr-1 ">
                <input type="text" class="form-control form-control-sm pl-0 " 
                placeholder="Complemento" name="complemento" id="complemento" readOnly>
            </div>
            <div class="col-sm-6 mb-1 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Bairro" name="bairro" id="bairro" readOnly>
            </div>
            <div class="col-sm-9 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cidade" name="cidade" id="cidade" readOnly>
            </div>
            <div class="col-sm-3 mb-3 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="UF" name="uf" id="uf" readOnly>
            </div>
        </div>
    </div>
    {% comment %} Direita {% endcomment %}
    <div class="form-group col-6 mt-1 mb-0">
        <h4 class = "card-title text-primary">Redespacho</h4>
        <div class="form-group row mb-1">
            <div class="col-sm-12 mb-1 form-group">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cnpj" name="cnpjRedesp" id="cnpjRedesp">
            </div>
            <div class="col-sm-6 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Nome/Razão" name="razao" id="razao" readOnly>
            </div>
            <div class="col-sm-6 mb-1 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Nome Fantasia" name="fantasia" id="fantasia" readOnly>
            </div>
            <div class="col-sm-4 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cep" name="cep" id="cep" readOnly>
            </div>
            <div class="col-sm-8 mb-1 form-group pl-0 " >
                <input type="text" class="form-control form-control-sm" 
                placeholder="Rua" name="rua" id="rua" readOnly>
            </div>
            <div class="col-sm-2 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                    placeholder="Nº" name="numero" id="numero" readOnly>
            </div>
            <div class="col-sm-4 mb-1 form-group pl-0 pr-1 ">
                <input type="text" class="form-control form-control-sm pl-0 " 
                placeholder="Complemento" name="complemento" id="complemento" readOnly>
            </div>
            <div class="col-sm-6 mb-1 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Bairro" name="bairro" id="bairro" readOnly>
            </div>
            <div class="col-sm-9 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cidade" name="cidade" id="cidade" readOnly>
            </div>
            <div class="col-sm-3 mb-3 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="UF" name="uf" id="uf" readOnly>
            </div>
        </div>
    </div>
</div>
</form>