<form method="POST">
    <!-- barra buscar-->
<div class="row">
    <div class=" form-group col-8 mb-0 mt-0 pl-1">
        <H7 class="card-title text-primary ">Dtc</H7>
        <div class="settings-trigger">
            <div class="input-group col-12 pl-1 ">
              <input type="text" class="form-control small  
                    form-control-sm m3" placeholder="Buscar ..." id="numPed" name="numPed">
              <div class="input-group-append">
                  <button class="btn btn-primary form-control-sm"
                  data-toggle="tooltip" data-placement="top" title="Buscar" id="btnBuscaDtc">
                    <i class="ti-search"></i>
                  </button>
              </div>
              <div class="input-group-append">
                <button class="btn btn-secondary form-control-sm" 
                data-toggle="tooltip" data-placement="top" title="Novo" id="btnNovo">
                  <i class="ti-write"></i>
                </button>
              </div>              
              <button type="button" class="btn btn-success btn-rounded  form-control-sm"
              data-toggle="tooltip" data-placement="top" title="Salvar" id="salvaDtc">
                <i class="ti-save"></i>
              </button>
              <button type="button" class="btn btn-danger btn-rounded form-control-sm" 
              data-toggle="tooltip" data-placement="top" title="Excluir" id="excluiDtc">
                <i class="ti-trash"></i>
              </button>    
            </div>                                     
        </div>
    </div>
    <div class="form-group col-2 mb-0 mt-0 pl-1">
        <H7 class="card-title text-primary">Tipo de frete</H7>
        <select class="form-select form-control-sm">
            <option>CIF</option>
            <option>FOB</option>
            <option>CONSIGNATÁRIO</option>
        </select>
    </div>
    <div class="form-group col-2">
        <H7 class="card-title text-primary">Percurso</H7>
        <select class="form-select form-control-sm">
            <option>Selecione o Percurso</option>
        </select>
    </div>
</div>
<div class="row">
    {% comment %} Direita {% endcomment %}
    <div class="form-group col-4  pl-1">
        <h4 class = "card-title text-primary">Remetente</h4>
        <div class="form-group row mb-1">
            <div class="col-sm-8 mb-1 pr-1 input-group">
                <input type="text" class="form-control form-control-sm" 
                id="cnpjRem" name="cnpjRem" placeholder="Cnpj/Cpf">
                <div class="input-group-append">
                    <button class="btn btn-danger form-control-sm"  id="btnLimpaCnpjRem" type="button">
                        <i class="ti-trash"></i>   
                    </button> 
                    <button class="btn btn-primary form-control-sm"  id="btnCnpjRem" type="button">
                        <i class="ti-search"></i>   
                    </button>   
                </div>
            </div>
            <div class="col-sm-4 mb-1 pl-0   form-group">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Inscr. Est." name="inscRem" id="inscRem" readOnly disabled>
            </div>            
            <div class="col-sm-6 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Nome/Razão" name="razaoRem" id="razaoRem" readOnly disabled>
            </div>
            <div class="col-sm-6 mb-1 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Nome Fantasia" name="fantasiaRem" id="fantasiaRem" readOnly disabled>
            </div>
            <div class="col-sm-4 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cep" name="cepRem" id="cepRem" readOnly disabled>
            </div>
            <div class="col-sm-8 mb-1 form-group pl-0 " >
                <input type="text" class="form-control form-control-sm" 
                placeholder="Rua" name="ruaRem" id="ruaRem" readOnly disabled>
            </div>
            <div class="col-sm-2 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                    placeholder="Nº" name="numeroRem" id="numeroRem" readOnly disabled>
            </div>
            <div class="col-sm-4 mb-1 form-group pl-0 pr-1 ">
                <input type="text" class="form-control form-control-sm pl-0 " 
                placeholder="Complemento" name="complementoRem" id="complementoRem" readOnly disabled>
            </div>
            <div class="col-sm-6 mb-1 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Bairro" name="bairroRem" id="bairroRem" readOnly disabled>
            </div>
            <div class="col-sm-9 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cidade" name="cidadeRem" id="cidadeRem" readOnly disabled>
            </div>
            <div class="col-sm-3 mb-3 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="UF" name="ufRem" id="ufRem" readOnly disabled>
            </div>
        </div>
    </div>
    {% comment %} Direita {% endcomment %}
    <div class="form-group col-4  mb-0 mt-0 ">
        <h4 class = "card-title text-primary">Destinatario</h4>
        <div class="form-group row mb-1">
            <div class="col-sm-8 mb-1 pr-1 input-group">
                <input type="text" class="form-control form-control-sm" id="cnpjDest" 
                name="cnpjDest" placeholder="Cnpj/Cpf" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-danger form-control-sm"  id="btnLimpaCnpjDest" type="button">
                        <i class="ti-trash"></i>   
                    </button> 
                    <button class="btn btn-primary form-control-sm"  id="btnCnpjDest" type="button">
                        <i class="ti-search"></i>   
                    </button>   
                </div>  
            </div>
            <div class="col-sm-4 mb-1 pl-0  form-group">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Inscr. Est." name="inscDest" id="inscDest" readOnly disabled>
            </div>   
            <div class="col-sm-6 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Nome/Razão" name="razaoDest" id="razaoDest" readOnly disabled>
            </div>
            <div class="col-sm-6 mb-1 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Nome Fantasia" name="fantasiaDest" id="fantasiaDest" readOnly disabled>
            </div>
            <div class="col-sm-4 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cep" name="cepDest" id="cepDest" readOnly disabled>
            </div>
            <div class="col-sm-8 mb-1 form-group pl-0 " >
                <input type="text" class="form-control form-control-sm" 
                placeholder="Rua" name="ruaDest" id="ruaDest" readOnly disabled>
            </div>
            <div class="col-sm-2 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                    placeholder="Nº" name="numeroDest" id="numeroDest" readOnly disabled>
            </div>
            <div class="col-sm-4 mb-1 form-group pl-0 pr-1 ">
                <input type="text" class="form-control form-control-sm pl-0 " 
                placeholder="Complemento" name="complementoDest" id="complementoDest" readOnly disabled>
            </div>
            <div class="col-sm-6 mb-1 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Bairro" name="bairroDest" id="bairroDest" readOnly disabled>
            </div>
            <div class="col-sm-9 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cidade" name="cidadeDest"id="cidadeDest" readOnly disabled>
            </div>
            <div class="col-sm-3 mb-3 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="UF" name="ufDest" id="ufDest" readOnly disabled>
            </div>
        </div>
    </div>
    <div class="form-group col-4 ">
        <h4 class = "card-title text-primary">Consignatário</h4>
        <div class="form-group row mb-1">
            <div class="col-sm-8 mb-1 pr-1 input-group">
                <input type="text" class="form-control form-control-sm" id="cnpjConsig"
                 placeholder="Cnpj/Cpf" name="cnpjConsig" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-danger form-control-sm"  id="btnLimpaCnpjConsig" type="button">
                        <i class="ti-trash"></i>   
                    </button>                     
                    <button class="btn btn-primary form-control-sm"  id="btnCnpjConsig" type="button">
                        <i class="ti-search"></i>   
                    </button>   
                </div>  
            </div>
            <div class="col-sm-4 mb-1 pl-0  form-group">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Inscr. Est." name="inscConsig" id="inscConsig" readOnly disabled>
            </div>   
            <div class="col-sm-6 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Nome/Razão" name="razaoConsig" id="razaoConsig" readOnly disabled>
            </div>
            <div class="col-sm-6 mb-1 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Nome Fantasia" name="fantasiaConsig" id="fantasiaConsig" readOnly disabled>
            </div>
            <div class="col-sm-4 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cep" name="cepConsig" id="cepConsig" readOnly disabled>
            </div>
            <div class="col-sm-8 mb-1 form-group pl-0 " >
                <input type="text" class="form-control form-control-sm" 
                placeholder="Rua" name="ruaConsig" id="ruaConsig" readOnly disabled>
            </div>
            <div class="col-sm-2 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                    placeholder="Nº" name="numeroConsig" id="numeroConsig" readOnly disabled>
            </div>
            <div class="col-sm-4 mb-1 form-group pl-0 pr-1 ">
                <input type="text" class="form-control form-control-sm pl-0 " 
                placeholder="Complemento" name="complementoConsig" id="complementoConsig" readOnly disabled>
            </div>
            <div class="col-sm-6 mb-1 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Bairro" name="bairroConsig" id="bairroConsig" readOnly disabled>
            </div>
            <div class="col-sm-9 mb-1 form-group pr-1">
                <input type="text" class="form-control form-control-sm" 
                placeholder="Cidade" name="cidadeConsig" id="cidadeConsig" readOnly disabled>
            </div>
            <div class="col-sm-3 mb-3 form-group pl-0 ">
                <input type="text" class="form-control form-control-sm" 
                placeholder="UF" name="ufConsig" id="ufConsig" readOnly disabled>
            </div>
        </div>
    </div>
</div>
</form>
