{% comment %} Superior {% endcomment %}
<div class="row">
    {% comment %} Esquerda {% endcomment %}
    <h4>Remetente</h4>

    <div class="form-group col-6 border-right border-bottom border-top">
        <div class="form-group">
            <div class ="form-group form-group-sm col-12 mb-0 ">
                <input type="text" class="form-control form-control-sm" id="cnpj" name="cnpj" placeholder="Cnpj" height="100">
            </div>    
            <div class ="form-group form-group-sm col-12 mb-1">
                <div class="col-sm-12 mb-1 form-group">
                    <h6 class="card-title text-primary  form-group mb-1">Serafim Transportes de Cargas Ltda</h6>
                </div>    
                <div class="col-sm-12 mb-1 form-group">
                    <h6 class="text-primary form-group mb-1">NorteCargas</h6>
                </div>    
                <div class="col-sm-12 mb-1 form-group">                    
                    <h6 class="text-primary form-group mb-1  ">Cnpj: 23926683000299</h6>
                </div>    
                <div class="col-sm-12 mb-1 form-group">                    
                    <h6 class="text-primary form-group mb-1  ">Inscr.Est: 796471869119</h6>
                </div>    
                <div class="col-sm-12 mb-1 form-group">                    
                <h6 class="text-primary form-group mb-1 ">Rua Nova Veneza ,172</h6>
                </div>    
                <div class="col-sm-9 mb-1 form-group">                    
                    <h6 class="text-primary form-group mb-1 ">Cid Indl Satelite de São Paulo</h6>
                </div>    
                <div class="col-sm-9 mb-1 form-group">                    
                    <h6 class="text-primary form-group mb-1">Guarulhos</h6>
                </div>    
                <div class="col-sm-2 mb-1 form-group">                    
                    <h6 class="text-primary form-group mb-1">SP</h6>
                </div>    
                                    
            </div>
        </div>
    </div>
    {% comment %} Direita {% endcomment %}
    <div class="form-group col-6  border-bottom border-top">
        <h4>Destinatario</h4>
    </div>
</div>
{% comment %} Inferior {% endcomment %}
<div class="row">
    {% comment %} Esquerda {% endcomment %}
    <div class="form-group col-6 border-right border-bottom border-top">
        <h4>Redespacho</h4>
    </div>
    {% comment %} Direita {% endcomment %}
    <div class="form-group col-6  border-bottom border-top">
        <h4>Consignatário</h4>
    </div>
</div>