{% comment %} Superior {% endcomment %}
<div class="row">
    {% comment %} Esquerda {% endcomment %}
    <div class="form-group col-6 border-right border-bottom border-top">
        <h4>Remetente</h4>
        <div class="form-group">
            <div class ="form-group col-12">
                <input type="text" class="form-control form-control-sm" id="cnpj" name="cnpj" placeholder="Cnpj">
            </div>    
            <div class ="form-group form-group-sm col-12">
                <span class="card-title text-primary col-12 form-group ">Serafim Transportes de Cargas Ltda</span>
                <span class="text-primary col-12 " >NorteCargas</span>
            </div>
            <div class ="card-title form-group col-12">
                <span class="text-primary col-12 " >NorteCargas</span>
            </div>
            <div class ="card-title form-group col-12">
                <span class="text-primary col-12">23926683000299</span>
            </div>

            <span>796471869119</span>
            <span>Rua Nova Veneza ,172</span>
            <span>Cid Indl Satelite de São Paulo</span>
            <span>Guarulhos</span>
            <span>SP</span>
        </div>
    </div>
    {% comment %} Direita {% endcomment %}
    <div class="form-group col-6  border-bottom border-top">
        <h4>Destinatario</h4>
    </div>
</div>
{% comment %} Inferior {% endcomment %}
<div class="row">
    {% comment %} Esquerda {% endcomment %}
    <div class="form-group col-6 border-right border-bottom border-top">
        <h4>Redespacho</h4>
    </div>
    {% comment %} Direita {% endcomment %}
    <div class="form-group col-6  border-bottom border-top">
        <h4>Consignatário</h4>
    </div>
</div>